<% include partials/header1.ejs %>
 
  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2><%= property.title %></h2>
            <ol class="breadcrumb">
            <li><a href="#">HOME</a></li>            
            <li class="active">APPARTMENT TITLE</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
             <div class="aa-properties-details-img">
               <img src="<%= property.image1 %>" alt="img">
               <img src="<%= images.imege2 %>" alt="img">
               <img src="<%= images.imege3 %>" alt="img">
               <img src="<%= images.imege4 %>" alt="img">
             </div>
             
             <input type="hidden" id="features" value="<%= property.features %>">
             
             <div class="aa-properties-info">
               	<h2>Title: <%= property.title %></h2>
               	<span class="aa-price">$<%= property.cost %></span><br>
               	<a type="button" id="mapb" href="#popup1" onclick="init_map(<%= property.latitude %>,<%= property.longitude %>,'<h1><%= property.title %></h1><h3> Property Location</h3>')"><img src="../images/mappin.jpg" width="22" height="32"></a>
               	<h3>Location:</h3><%= property.staddress %>, <%= property.city %>, <%= property.state %>, <%= property.zip %>, <%= property.country %>
                <h3>Discription</h3>
				<p><%= property.discription %></p>
               	<h4>Propery Features</h4>
               
               <ul id="append"></ul>
               <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fusa-real-estates.herokuapp.com%2Fdetailedproperty%2F<%= property.timestamp%>&layout=button_count&size=small&mobile_iframe=true&appId=298310910569242&width=69&height=20" width="89" height="30" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe><br><script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script><script type="IN/Share" data-url="https://usa-real-estates.herokuapp.com/detailedproperty/<%= property.timestamp %>" data-counter="right"></script><br>
              
             </div>
             <!-- Properties social share -->
            
             <!-- Nearby properties -->
             
            </div>           
          </div>
        </div>
        <!-- Start properties sidebar -->
        <div class="col-md-4">
          <aside class="aa-properties-sidebar">
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
              <h3>Properties Search</h3>
              <form action="">
                <div class="aa-single-advance-search">
                  <input type="text" placeholder="Type Your Location">
                </div>
                <div class="aa-single-advance-search">
                  <select id="" name="">
                   <option selected="" value="0">Category</option>
                    <option value="1">Flat</option>
                    <option value="2">Land</option>
                    <option value="3">Plot</option>
                    <option value="4">Commercial</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <select id="" name="">
                    <option selected="" value="0">Type</option>
                    <option value="1">Flat</option>
                    <option value="2">Land</option>
                    <option value="3">Plot</option>
                    <option value="4">Commercial</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <select id="" name="">
                    <option selected="" value="0">Type</option>
                    <option value="1">Flat</option>
                    <option value="2">Land</option>
                    <option value="3">Plot</option>
                    <option value="4">Commercial</option>
                  </select>
                </div>
                <div class="aa-single-filter-search">
                  <span>AREA (SQ)</span>
                  <span>FROM</span>
                  <span id="skip-value-lower" class="example-val">30.00</span>
                  <span>TO</span>
                  <span id="skip-value-upper" class="example-val">100.00</span>
                  <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>                  
                </div>
                <div class="aa-single-filter-search">
                  <span>PRICE ($)</span>
                  <span>FROM</span>
                  <span id="skip-value-lower2" class="example-val">30.00</span>
                  <span>TO</span>
                  <span id="skip-value-upper2" class="example-val">100.00</span>
                  <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>      
                </div>
                <div class="aa-single-advance-search">
                  <input type="submit" value="Search" class="aa-search-btn">
                </div>
              </form>
            </div> 
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
              <h3>Populer Properties</h3>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="img/item/1.jpg" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">This is Title</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="img/item/1.jpg" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">This is Title</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="img/item/1.jpg" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">This is Title</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- / Properties  -->

  <!-- Footer -->
  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>Designed by <a rel="nofollow" href="http://www.markups.io/">MarkUps.io</a></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="#">Home</a>
                <a href="#">Support</a>
                <a href="#">License</a>
                <a href="#">FAQ</a>
                <a href="#">Privacy & Term</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <!-- jQuery library -->
  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <script src="../theme/js/jquery.min.js"></script>   
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../theme/js/bootstrap.js"></script>   
  <!-- slick slider -->
  <script type="text/javascript" src="../theme/js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="../theme/js/nouislider.js"></script>
  
  <!-- Custom js -->
  <script src="../theme/js/custom.js"></script> 
  <script src="../theme/js/detailedproperty.js"></script> 

 


<div id="popup1" class="overlay">X
	<div class="popup">
		<div class="content"><h1>Java & NodeJS blog</h1><h3>by Shubham Yeole</h3>
		<a class="close" href="#"> &times;</a>
		</div>
			<div id='gmap_canvas' style='height:440px;width:100%;'></div>
		
	</div>
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

<style type="text/css">

</style>
			</div>
		</div>
		 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMAWPMDGHGh-KUNMkjSIlMBD1JMtTfbxk&callback=initMap">
    </script>
<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
		<script type='text/javascript'>
function init_map(x,y,z){
	alert(x+", "+y+", "+z);
	var myOptions = {center: myCenter,
		zoom:15,center:new google.maps.LatLng(x,y),mapTypeId: google.maps.MapTypeId.MAP};
		var myCenter = new google.maps.LatLng(x, y); 

		map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);

		marker = new google.maps.Marker({position: myCenter, map: map});

		infowindow = new google.maps.InfoWindow({content:z});

		google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});

		infowindow.open(map,marker);}
</script>

 </body>
</html>